.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.ltrInput label {
  float: left;
}

.ant-form-item {
  margin-bottom: 12px !important;
}

form .ant-upload-select {
  width: 128px;
  height: 128px;
  background-color: #fafafa;
  border: 1px dashed #d9d9d9;
  border-radius: 2px;
  cursor: pointer;
  float: left;
}

form .ant-upload-select span.ant-upload {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}

form .ant-upload-list {
  display: inline-block;
}

form .ant-upload-list-picture .ant-upload-list-item, 
form .ant-upload-list-picture-card .ant-upload-list-item {
  height: auto;
  padding-top: 0;
  margin-top: 0;
  margin-left: 10px;
}

form .ant-upload-list-picture .ant-upload-list-item-thumbnail, form .ant-upload-list-picture-card .ant-upload-list-item-thumbnail, form .ant-upload-list-picture .ant-upload-list-item-thumbnail img, form .ant-upload-list-picture-card .ant-upload-list-item-thumbnail img {
  width: 128px;
  height: 128px;
}

form .ant-upload-list-picture .ant-upload-list-item-name, 
form .ant-upload-list-picture-card .ant-upload-list-item-name {
  display: none;
}

form .ant-upload-list-picture .ant-upload-list-item, 
form .ant-upload-list-picture-card .ant-upload-list-item {
  border: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.leaflet-container {
  height: 500px;
  width: 80%;
  margin: 0 auto;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
